<%= provide :title, t(".title") %>
<h1><%= t ".header" %></h1>
<div class="well">
  <table class="table">
    <thead>
      <tr>
        <th><%= t ".id" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <%= will_paginate @users %>
</div>
